.about {
  &__wrapper {
    margin-bottom: 50px;
  }
  & .title {
    margin-bottom: 60px;
    display: block;
    text-align: center;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__left {
    width: 100%;
    margin-bottom: 40px;
    @include respond-above(sm) {
      width: 39%;
      margin-bottom: 0;
    }
  }
  &__right {
    width: 100%;
    @include respond-above(sm) {
      width: 55%;
    }

    & .picture {
      height: 100%;

      @include respond-below(md) {
        object-position: 100%;
      }
    }
  }
  &__title-sub {
    margin: 0;
    margin-bottom: 30px;
    font-family: $fontExo;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;

    color: #38383d;

    @include ff(
      "font-size",
      (
        375px: 14px,
        1440px: 18px
      )
    );
  }
  & ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    font-family: $fontExo;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;

    color: #38383d;

    @include ff(
      "font-size",
      (
        375px: 14px,
        1440px: 18px
      )
    );
  }
}
