.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-white;
  }
}

.contact-list__item--btn-white {
  
  font-family: $fontExo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  
  & .contact-list__link {
    padding: 8px 13px;
    color: #000e58;
    font-weight: bold;
    line-height: normal;
    text-align: center;

    background: #ffffff;
    border-radius: 5px;

    @include respond-above(md1100) {
      padding: 13px 27px;
    }

    &:hover {
      transition: 0.7s;
      background-color: $color-base-yellow;
    }
  }
}

.contact-list__link.button.button--yellow {
  color: #02126a;
}
