.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 60px;

  text-align: left;

  background-color: $color-base-blue;

  min-height: 100vh;

  background-image: url("../img/promo/promo-768.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include respond-above(sm) {
    background-image: url("../img/promo/promo-768.jpg");
  }

  @include respond-above(md) {
    background-image: url("../img/promo/promo-bg.jpg");
  }

  &__info {
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto 0 0;
    text-align: left;

    padding-top: 100px;
    padding-bottom: 50px;

    @include respond-above(xs) {
      max-width: 440px;
    }

    @include respond-above(sm769) {
      max-width: 570px;
    }

    @include respond-above(md) {
      max-width: 670px;
    }

    @include respond-above(lg) {
      max-width: 850px;

      
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: $fontMontserrat;
    font-style: normal;
    font-weight: 800;

    line-height: 51px;
    text-align: left;

    color: $color-white;

    text-transform: initial;

    text-shadow: 0px 4px 15px rgba(0, 19, 69, 0.57);

    @include ff(
      "font-size",
      (
        375px: 35px,
        1440px: 60px,
        1540px: 70px
      )
    );

    @include respond-above(sm) {
      line-height: normal;
    }
  }

  &__intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    margin-bottom: 50px;

    @include respond-above(md) {
      max-width: 700px;
      padding: 15px 17px;
      flex-direction: row;
      background: linear-gradient(90.39deg, #010f5d -1.68%, #03157a 99.98%);
    }
  }

  &__intro-item {
    align-items: flex-start;
    padding: 10px 17px 10px 0;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    color: $color-white;

    @include ff(
      "font-size",
      (
        375px: 20px,
        1440px: 30px
      )
    );

    @include respond-above(sm) {
      padding: 15px 17px;
      background: linear-gradient(90.39deg, #010f5d -1.68%, #03157a 99.98%);
    }

    @include respond-above(md) {
      flex-grow: 1;
      padding: 0;
      background: transparent;
    }
  }

  &__text {
    position: relative;
    margin: 0 auto;
    margin-bottom: 64px;
    max-width: 660px;
    line-height: 32px;
    font-size: 24px;
    text-align: center;

    color: #cadcff;

    opacity: 0.8;
    @include ff(
      "font-size",
      (
        480px: 18px,
        1900px: 24px
      )
    );
  }

  &__button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: 0.5s;
    @include respond-below(sm) {
      margin: 0 auto;
      display: block;
      max-width: 210px;
    }

    &:hover {
      box-shadow: none;
    }
  }
}

.promo .page-header {
  z-index: 3;
}
