.promo {
  display: flex;
  background-color: $color-base-blue;
  text-align: left;
  margin-bottom: 60px;

  @include respond-above(md) {
    padding-top: 180px;
    padding-bottom: 190px;
    min-height: 70vh;
  }

  &--bg {
    background: url("../../img/promo/promo-bg.jpg");
    background-repeat: no-repeat;
    mix-blend-mode: color;
    background-size: cover;
    background-position: 50%;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    

    @include respond-above(sm) {
      padding: 157px auto 365px;
    }

    @include respond-above(md) {
      padding: 157px auto 365px;
    }
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include respond-above(sm) {
      max-width: 885px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: $fontMontserrat;
    font-style: normal;
    font-weight: 800;

    line-height: normal;
    text-align: left;

    color: $color-white;

    text-shadow: 0px 4px 15px rgba(0, 19, 69, 0.57);

    @include ff('font-size', (375px: 24px, 1440px: 60px, 1540px: 70px));
  }

  &__link {
    order: 1;
  }

  &__intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    margin-bottom: 50px;
    
    @include respond-above(md) {
      flex-direction: row;
      background: linear-gradient(90.39deg, #010F5D -1.68%, #03157A 99.98%);
    }
  }

  &__intro-item {
    align-items: flex-start;
    padding: 15px 17px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    color: $color-white;

    @include ff('font-size', (375px: 22px, 1440px: 30px));

    @include respond-above(sm) {
      background: linear-gradient(90.39deg, #010F5D -1.68%, #03157A 99.98%);
    }

    @include respond-above(md) {
      flex-grow: 1;
      background: transparent;
    }
    
  }
 
}
